In [13]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('datatraining.csv')

In [7]:
data.drop(columns= ['date'], inplace=True)

In [8]:
data.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
1        23.18   27.2720  426.0  721.25       0.004793          1
2        23.15   27.2675  429.5  714.00       0.004783          1
3        23.15   27.2450  426.0  713.50       0.004779          1
4        23.15   27.2000  426.0  708.25       0.004772          1
5        23.10   27.2000  426.0  704.50       0.004757          1

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8143 entries, 1 to 8143
Data columns (total 6 columns):
Temperature      8143 non-null float64
Humidity         8143 non-null float64
Light            8143 non-null float64
CO2              8143 non-null float64
HumidityRatio    8143 non-null float64
Occupancy        8143 non-null int64
dtypes: float64(5), int64(1)
memory usage: 765.3 KB

In [28]:
cols = list(data.columns)
cols.remove('Occupancy')
data.describe()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
count,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000
mean,20.619084,25.731507,119.519375,606.546243,0.003863,0.212330
std,1.016916,5.531211,194.755805,314.320877,0.000852,0.408982
min,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000
25%,19.700000,20.200000,0.000000,439.000000,0.003078,0.000000
50%,20.390000,26.222500,0.000000,453.500000,0.003801,0.000000
75%,21.390000,30.533333,256.375000,638.833333,0.004352,0.000000
max,23.180000,39.117500,1546.333333,2028.500000,0.006476,1.000000

In [29]:
X = data[cols]

In [35]:
scaler = StandardScaler()
X1 = pd.DataFrame(scaler.fit_transform(X), columns=cols)
Y = data['Occupancy']

In [36]:
X1.head()

   Temperature  Humidity     Light       CO2  HumidityRatio
0     2.518470  0.278526  1.573763  0.364948       1.091757
1     2.488967  0.277713  1.591735  0.341881       1.080555
2     2.488967  0.273645  1.573763  0.340290       1.075888
3     2.488967  0.265508  1.573763  0.323587       1.066555
4     2.439796  0.265508  1.573763  0.311655       1.049523

In [38]:
Y.value_counts()

0    6414
1    1729
Name: Occupancy, dtype: int64

In [ ]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(28, 28)),
    keras.layers.Dense(128, activation=tf.nn.relu),
    keras.layers.Dense(10, activation=tf.nn.softmax)
])